@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html { 
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}